:root {
  --background-color: #f0f1f3;
}

.App-header {
  padding: 40px 100px 180px 100px;
}

.dictionary-h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 70px;

  color: black;
}

.dictionary-legend {
  color: lightseagreen;
  font-size: 20px;
}
